<div class="hero-unit">
  <h1 class="text-center">Be part of the world's most important political debates</h1>
</div>
<div class = "row span6 offset2">
<%= form_for(@user, html: { class: 'form-horizontal form-style'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :email, id:'inputEmail', placeholder:'Email' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :username, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :username, placeholder:'Username' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :password, id:'inputPassword', placeholder:'Password' %>
    </div>
  </div> 
  <div class="controls">
    <%= f.submit 'Sign Up', class: "btn-large btn btn-info" %>
  </div> 
<% end %>
</div>
