<% @topics.each do |t| %>
  <%= form_for [t,@debate], html: {class:"span4"} do |f| %>
    <ul class="span4">
      <div class="thumbnail">
        <%= image_tag("dream_rally_1.jpg", :alt => "test", :class => "img-rounded") %>
        <h4 class="text-center"><%= t.title %></h4>
        <h5 class="text-center"><%= t.subtitle %></h5>
        <p class="text-center">
           <%= f.submit 'Create', class: "btn-medium btn btn-danger" %>
        </p>
      </div>
    </ul>
  <% end %>
<% end %>
