<%  user = debate_side.user  %>
<%  if user == nil %>
    <%= form_for [@debate,debate_side] do |f| %>
      <p>
        <h3 class="span3"><%= f.submit 'Join', {class:"btn btn-large btn-danger join-#{debate_side.side}"} %></h3>
      </p>
    <% end %>
  <% else %>
    <h3 class="span3"><%= user.username %></h3>
    <%= form_for [debate_side,debate_side.votes.new], :remote => true, :html => { :id => 'vote_form' } do |f| %>
      <p class=" span3">
        <%= f.submit 'Vote', {class:"btn btn-primary", id:"vote-#{debate_side.side}"} %>
          <br>
          <strong class="votes" id="votes-#{debate_side.side}"><%= debate_side.votes.count %></strong>
      </p>
    <% end %>
  <% end %>
