<div class="span6 debate-side-form">
  <%= form_for [@debate_page.debate,debate_side] do |f| %>
      <div class="span6 text-box">
        <%= f.text_area :argument, {placeholder:"Enter your argument", rows: "6", class: "text-left", id:"#{debate_side.side}-argument"} %>
      </div>
      <div class="span6 submit-button">
        <%= f.submit 'submit', class:"btn btn-danger", id: "submit-#{debate_side.side}-argument" %>
      </div>
         
     <div class="span6 text-box">
      <%= f.text_area :rebuttal, {placeholder:"Enter your rebuttal", rows: "6", id: "#{debate_side.side}-rebuttal"} %>
    </div>
    <div class="span6 submit-button">
      <%= f.submit 'submit', class:"btn btn-danger", id:"submit-#{debate_side.side}-rebuttal" %>
    </div>

     <div class="span6 text-box">
      <%= f.text_area :conclusion, {placeholder:"Enter your conclusion", rows: "6", id: "#{debate_side.side}-conclusion"} %>
    </div>
    <div class="span6 submit-button">
      <%= f.submit 'submit', class:"btn btn-danger", id: "submit-#{debate_side.side}-conclusion" %>
    </div>

  <% end %>
</div>
