
  <%#= render 'debate_player_info' %>
  <%= render 'debate_header' %>


<div class="row">
  <%= render 'debate_input_box' %>
  <%= render 'debate_input_box' %>
  <%= render 'debate_input_box' %>
  <%= render 'debate_input_box' %>
  <%= render 'debate_input_box' %>
</div>

