<div class="hero-unit front-page-unit">
  <div class="row text-center">
    <% if current_user == @debate_page.no_side.user && @debate_page.yes_side.debater == nil %>
      <h4 class='temporary-header span3'>Waiting for contestant</h4>
    <% else %>
      <%= render partial: '_debater_information', locals: {debate_side: @debate_page.yes_side, debate: @debate_page.debate} %>
    <% end %>
    <%= render 'debate_header' %>
    <% if current_user == @debate_page.yes_side.user && @debate_page.no_side.debater == nil%>
      <h4 class='temporary-header span3'>Waiting for contestant</h4>
    <% else %>
      <%= render partial: '_debater_information', locals: {debate_side: @debate_page.no_side, debate: @debate_page.debate}  %>
    <% end %>
  </div>
</div>
<div class="row">
   <% if @debate_page.yes_side.user != nil %>
      <div class="yes-side">
        <%= render partial: 'update_response_form', locals: {debate_side: @debate_page.yes_side} %>
      </div>
    <% end %>

    <% if @debate_page.no_side.user != nil %>
      <div class="no-side">
        <%= render partial: 'update_response_form', locals: {debate_side: @debate_page.no_side} %>
      </div>
    <% end %>
    <h4>Voting begins after conclusions are submitted</h4>
</div>

