<li class="span4">
  <div class="thumbnail">
    <%= image_tag("#{debate.topic.image_url}", :class => "img-rounded") %>
    <h4 class="text-center"><%= debate.topic.subtitle %></h4>
    <% user_yes = username(debate.debate_sides.where(side:'yes')) %>
    <% user_no = username(debate.debate_sides.where(side:'no')) %>
    <p class="text-center"><%= user_yes + " vs. " + user_no %>
      <br>
      <% if debate.users.count == 2 %>
         <%= link_to("Read", debate_path(debate), class: "btn btn-primary btn-small", id: "read-#{debate.id}") %>
      <% else %>
         <%= link_to("Debate", debate_path(debate), class: "btn btn-danger btn-small", id: "read-#{debate.id}") %>
      <% end %>
    </p>
  </div>
</li>
