<!DOCTYPE html>
<html>
  <head>
    <title>DebateMe</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,200italic,400italic,600italic">
  </head>
  <div class="body-div">
    <body class="body-background">
      <header class="navbar">
          <div class="container">  
            <a class="brand" href="/"><strong>DebateMe</strong><a href="#" class="brand" id="alert" data-message="Hello!"><small>beta</small></a></a>
            <%= form_tag debates_path, method: :get do %>
              <%= text_field_tag :query, params[:query], :class => "search-box" %>
              <%= submit_tag "Search This Site", name: nil, :class => "btn btn-search" %>
            <% end %>
            <ul class="nav">
              <li><%= link_to "Create", topics_path %>
              <li><%= link_to "Participate", participate_index_path %>
              <li><a href="#">About</a></li>
              <% if current_user != nil %>
                <% if current_user.is_admin? %>
                  <li><%= link_to "Admin", new_category_path(@category) %></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                <ul class="nav pull-right">
                  <li><a href=""><%= link_to current_user.email, profile_path(current_user) %></strong></a></li>
                </ul>
              <% else %>
                <li><%= link_to "sign in", new_user_session_path %></li>
              <% end %>
            </ul>
            
          </div>
      </header>

      <div class="container footer-fix">
        <% if notice.nil? == false %> 
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.nil? == false %> 
          <p class="alert"><%= alert %></p>
        <% end %>
      <%= yield %>
      </div>
      
      <div class="navbar-fixed-bottom navbar footer">
          <div class="container">
              <ul class ="footer-ul span4">
                <li><a href="#"><small>Terms of Service</small></a></li>
                <li><a href="#"><small>Privacy</small></a></li>
                <li><a href="#"><small>Contact</small></a></li>
              </ul>
              <div class="span3 footer-image"></div>
              <div class="span4">
                <h5 class="copyright">&copy; 2013 DebateMe, Inc. All Rights Reserved.</h5>
              </div>          
          </div>
      </div>
      <%#= debug(params) if Rails.env.development? %>

    </body>
  </div>
</html>
